/* App.css */
.map-container {
  text-align: center;
  margin-top: 20px;
}

.home-page {
  padding: 20px;
}

.missions-section {
  margin-top: 20px;
}

.marker {
  color: #e44d26; /* Use your desired color for the markers */
  cursor: pointer;
}

.text-header {
  text-align: center;
  font-family: 'Arial';
  color: #33495D;
  font-size: 30px;
}

.text-sub-header {
  text-align: center;
  font-family: 'Arial';
  color: #B9B9BA;
  font-size: 10px;
}

.center {
  width: 1200px;
  margin:0 auto;
  
}